:root {
    --primary-background-color: #000000;
    --secondary-background-color: #161616;

    --primary-color: #4A0A0A;
    

    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-dark-gray: #161616;
    --color-gray: #3C3C3C;

    --primary-text-color: #FFFFFF;
    --secondary-text-color: #000000;

    --sidebar-hover: #A33C3C;

    --width-sidebar: 20%;

    --font-family: Arial, sans-serif;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: var(--font-family);
}

h1 {
    text-align: center;
}
