.card {
    background-color: var(--secondary-background-color);
    border: none;
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px var(--color-gray);
    width: 100%;
    margin-top: 1rem;
}