.label-container, .language-label-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap);
}

.language-label-container {
  justify-content: start;
  align-items: center;
}

.label, .language-label {
  background-color: var(--secondary-background-color);
  border: none;
  padding: 7px;
  border-radius: var(--border-radius);
  width: fit-content;
  margin: auto;
  white-space: nowrap;
  display: inline-block;
  margin: 0;
  font-family: var(--font);
}

.language-label {
  background-color: var(--secondary-color);
}