#competition-container-main {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    gap: 1rem;
}

.competition-card {
    width: 32%;
    min-width: 250px;
}

@media (max-width: 1600px) {
    .competition-card {
        width: 49%;
        min-width: 250px;
    }
}

@media (max-width: 1024px) {
    .competition-card {
        width: 100%;
        /* Full width */
    }
}

/* style for project pages */
#competition-details>h1 {
    margin-bottom: 4rem;
}

#competition-details ul {
    width: 100%;
    padding-left: 1.5rem;
    text-align: left;
}

#competition-details li {
    padding: 2px 0;
}

#competition-details p {
    padding-top: 0;
    text-align: left;
}

#competition-details .text-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    gap: 1rem;
    max-width: 100%;
}

#competition-details .text {
    flex: 1;
}

#competition-details .image img {
    width: 100%;
    height: auto;
}

@media (max-width: 757px) {
    #competition-details .text-box {
        flex-direction: row;
    }
}