#projects-container-main {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; 
  justify-content: start; 
}

.project-card {
  width: 47%; 
  min-width: 250px;
}

@media (max-width: 1024px) {
  .project-card {
      width: 100%; /* Full width */
  }
}

/* style for project pages */
#project-details > h1 {
  margin-bottom: 4rem;
}

#project-details ul {
  width: 100%;
  padding-left: 1.5rem;
  text-align: left;
}

#project-details li {
  padding: 2px 0;
}

#project-details p {
  padding-top: 0;
  text-align: left;
}

#project-details .text-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  gap: 1rem;
  max-width: 100%;
}

#project-details .text {
  flex: 1;
}

#project-details .image img {
  width: 100%;
  height: auto;
}

@media (max-width: 757px) {
  #project-details .text-box {
      flex-direction: row;
  }
}